name: Build

on:
  push:
    branches:
      - main
    tags-ignore:
      - "**"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "22"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew clean build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/spoolman-stock
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha,format=short
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Create staging
        if: github.ref == 'refs/heads/main'
        run: |
          docker buildx imagetools create \
            --tag ghcr.io/chrissearle/spoolman-stock:staging \
            ghcr.io/chrissearle/spoolman-stock:latest

      - name: Generate summary
        run: |
          echo "Tag: ${{ github.sha }}" >> $GITHUB_STEP_SUMMARY

      - name: Upload reports if failed
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/

      - name: Upload coverage if passed
        if: success()
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: |
            **/build/reports/jacoco/
